* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab) {
        font-size: 56.25%;
    }
}

body {
    font-family: 'Rubik', sans-serif;
}

img,a,i,li {
    user-select: none;
}
