
.para {
    color: rgb(140, 140, 140);
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}

a {
    text-decoration: none;
    border: none;
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: all 0.2s;
    color: #000;
    outline: none;

    &:hover {
        color: var(--color-soft-red);
    }
}

.text {
        width: 55%;
        margin: auto;
        text-align: center;

        @include respond(tab) {
            width: 70%;
        }

        @include respond(phone) {
            width: 85%;
        }
    }   